.home-banner {
  background-image: url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=859&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  font-family: roboto;
  padding-top: 40vh;
}

.new-banner {
  background-image: url('https://images.unsplash.com/photo-1595769816263-9b910be24d5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=879&q=80');
  background-size: cover;
  height: 50vh;
  color: #eee;
  text-align: center;
  font-family: roboto;
  padding-top: 40vh;
}
